@page
@model BlogApplication.Pages.Users.LoginModel

<form method="post" >
    <div class="card text-center" style="margin-top:80px;">
        <div class="card-header">
            <h2 class="text-info text-center">Login</h2>
        </div>
        <div class="card-body">
            <div class="container rounded border m-2 p-2">
                <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">EmailAddress</label>
                    <div class="col-sm-5">
                        <input type="text" id="userName" name="userName" class="form-control" placeholder="EmailAddress" required> <br>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row"> 
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-outline-info">Login</button>
        </div>    
        <div class="asp-link" style="margin-left:40%">
            <a id="forgot-password" asp-page="/Users/ForgotPassword">Forgot Password?</a>
        </div>
    </div>
</form>
    <div class="col-4 m-2 p-2">
        <form method="post" asp-page-handler="SendVerificationEmail">
            <button type="submit" class="btn btn-outline-warning">Email Verification</button>
        </form>
    </div>
<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="GoogleLogin"><i class="fa fa-google"></i></button>
</form>
@if (!string.IsNullOrEmpty(ViewData["Message"] as string))
{
    <h5 class="col-4" style="margin-left:40%">
        <div class="text text-danger" role="alert">
            @ViewData["Message"]
        </div>
    </h5>
}
@if(TempData["ErrorMessage"]!=null)
{
    <h5 class="col-4" style="margin-left:20px">
        <div class="text text-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    </h5>

}