@page
@model BlogApplication.Pages.Users.LoginModel

<form method="post">
    <div class="card text-center">
        <div class="card-header">
            <h2 class="text-primary text-center">Login</h2>
        </div>
        <div class="card-body">
            <div class="container rounded border m-2 p-2">
                <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">UserName</label>
                    <div class="col-sm-5">
                        <input type="text" id="userName" name="userName" class="form-control" placeholder="UserName" required> <br>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for="password" class="col-sm-4 col-form-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required> <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-info">Login</button>
        </div>
    </div>
</form>
@if (!string.IsNullOrEmpty(Model.ReturnMessage))
{
    <script>
        alert('@Model.ReturnMessage');
    </script>
}
