@page
@model BlogApplication.Pages.Product.ProductBuyModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
</head>
<body>
    <h1>Order Confirmation</h1>
<img src="~/Image/image.png" style="width:10%" /> 
<p>Your Order has been successfully Places.</p>
</body>
</html>
